/**
 * Ports of various styles from old WordPress site for compatibility with existing classes in imported posts
 */

.alignleft,
img.alignleft {
	float: left;
    margin-right:20px;
}
.alignright,
img.alignright {
	display: block;
	float: right;
    margin-left:20px;
}
.aligncenter,
img.aligncenter {
	margin-left:auto;
	margin-right:auto;
	display: block;
	clear: both;
}

#content {
    /* margin:0 0 0 10px; */
    width:540px;
    overflow:hidden;
}

.portfolio_thumb_section {
     overflow: auto;
}

.portfolio_thumb_item {
    float: left;
    margin-right: 5px;
    margin-bottom: 10px;
    width: 155px;
    height: 200px;
}

.entry-content {
    padding: 22px 0 0 0;
}

h3.go_link {
    font-size: 150%;
    margin-top: 20px;
}

table.project_info_box {
    border: none;
    border-collapse: collapse;

    tr {
        border-bottom: 1px solid #ccc;
    }

    th, td {
        padding: .7em 1.25em;
    }
}
