---
layout: default
---
<h1>{{ page.title }}</h1> 
<div class="entry-content">
    <a href="{{ page.portfolio.cover.value }}">
        <img class="alignleft header-image" src="{{ page.portfolio.cover.medium }}">
    </a>
    {{ content }}
    {% if page.portfolio.play %}
    <h3 class="go_link"><a href="{{ page.portfolio.play }}">Play!</a></h3>
    {% endif %}
    {% if page.portfolio.download %}
    <h3 class="go_link"><a href="{{ page.portfolio.download }}">Download!</a></h3>
    {% endif %}
    {% if page.portfolio.event or page.portfolio.time or page.portfolio.team or page.portfolio.role or page.portfolio.technologies %}
    <table class="project_info_box">
        {% if page.portfolio.website %}
        <tr><td>Website</td><td>{{ page.portfolio.website }}</td></tr>
        {% endif %}
        {% if page.portfolio.event %}
        <tr><td>Event</td><td>{{ page.portfolio.event }}</td></tr>
        {% endif %}
        {% if page.portfolio.time %}
        <tr><td>Time</td><td>{{ page.portfolio.time }}</td></tr>
        {% endif %}
        {% if page.portfolio.team %}
        <tr><td>Team</td><td>{{ page.portfolio.team }}</td></tr>
        {% endif %}
        {% if page.portfolio.role %}
        <tr><td>Role</td><td>{{ page.portfolio.role }}</td></tr>
        {% endif %}
        {% if page.portfolio.technologies %}
        <tr><td>Technologies</td><td>{{ page.portfolio.technologies }}</td></tr>
        {% endif %}
        {% unless page.portfolio.in_progress %}
        <tr><td>Completion Date</td><td>{{ page.date | date_to_long_string }}</td></tr>
        {% endunless %}
    </table>
    {% endif %}
    {% for media in page.portfolio.media %}
        {% if media.type == "image" %}
        <a href="{{ media.value }}">
            {% if media.thumb %}
            <img width="150" height="150" src="{{ media.thumb }}">
            {% else %}
            <img width="150" height="150" src="{{ media.value | replace: ".png", "-150x150.png" |  replace: ".jpg", "-150x150.jpg" | replace: ".jpeg", "-150x150.jpg"  }}">
            {% endif %}
        </a>
        {% endif %}
        {% if media.type == "youtube" %}
        <p>
            <iframe width="540" height="405" src="https://www.youtube-nocookie.com/embed/{{ media.value }}?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </p>
        {% endif %}
    {% endfor %}
    <p>
        <a href="/">Back</a>
    </p>
</div>
