---
layout: default
---
{%- assign categories = "Featured,All,Games,Hardware,Personal,Work,Mods,Live Visuals,Art" | split: "," -%}
{%- assign category_links = "/,/portfolio/all,/portfolio/games,/portfolio/hardware,/portfolio/personal,/portfolio/work,/portfolio/mods,/portfolio/visuals,/portfolio/art" | split: "," -%}
<script src="{{ site.baseurl }}{% link assets/js/main.js %}"></script>
<div id="content">
    {%- comment -%}
    Selected category: {{page.selected_category}}
    {%- endcomment -%}
{{ content }}
    <noscript>
        <ul>
            {%- for category in categories %}
            <li>
                <a href="{{category_links[forloop.index0]}}">{{ category }}</a>
            </li>
            {% endfor -%}
        </ul>
    </noscript>
    <div class="portfolio_thumb_section">
{%- assign placed_category_picker = false -%}
{% for item in site.works reversed %}
    {%- assign show_item = false -%}
    {%- if page.selected_category == "All" -%}
        {%- assign show_item = true -%}
    {%- elsif item.categories contains page.selected_category -%}
        {%- assign show_item = true -%}
    {%- endif -%}
    {%- if show_item -%}
        <div class="portfolio_thumb_item">
            {%- if placed_category_picker == false %}
            <select id="category_picker" class="invisible" onchange="selectCategory(event)" aria-label="Portfolio category filter">
                {%- for category in categories %}
                <option value="{{category_links[forloop.index0]}}"{%- if category == page.selected_category %} selected{%- endif -%}>{{ category }}</option>
                {% endfor -%}
            </select>
            {%- assign placed_category_picker = true -%}
            {% endif -%}
            {%- assign cover_alt = false -%}
            {%- if item.portfolio.cover.thumb_alt -%}
                {%- assign cover_alt = item.portfolio.cover.thumb_alt -%}
            {%- elsif item.portfolio.cover.cover_alt -%}
                {%- assign cover_alt = item.portfolio.cover.cover_alt -%}
            {%- endif -%}
            <a href="{{ item.url }}"><img class="alignleft" src="{{ item.portfolio.cover.thumb }}"{%- if cover_alt %} alt="{{ cover_alt | escape }}"{%- endif -%}/></a>
            <a href="{{ item.url }}">{{ item.title }}</a>
            <p class="portfolio_index_date">{{ item.date | date: "%Y"  }}</p> 
        </div>
    {%- endif -%}
{% endfor %}
    </div>
</div>
<script type="text/javascript">
    onReady();
</script>